<div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-primary"
       (click)="cambiarValor(-10)"              
       type="button">
        <i class="fa fa-minus"></i>
      </button>
    </span>
    <input type="number" class="form-control" placeholder="Progreso"
    [(ngModel)]="progreso"
    />
    <span class="input-group-btn">
      <button class="btn btn-success"
      (click)="cambiarValor(10)"
      type="button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </span>
  </div>
